<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column has-text-left">
        String content modal overlay
      </div>
      <div class="column is-narrow">
        <button (click)="open(content)" class="button is-small is-primary">
          show
        </button>
      </div>
      <div class="column"></div>
    </div>
    <div class="columns">
      <div class="column  has-text-left">
        Lead List component
      </div>
      <div class="column is-narrow">
        <button (click)="open(leadListComponent)" class="button is-small is-primary">
          Show
        </button>
      </div>
      <div class="column">

      </div>
    </div>
    <div class="columns">
      <div class="column has-text-left">
        Edit Lead
      </div>
      <div class="column is-narrow">
        <button (click)="open(leadEditComponent)" class="button is-small is-primary">
          show
        </button>
      </div>
      <div class="column">
        {{ leadEditData | json }}
      </div>
    </div>

  </div>
</div>
